$ig-blue: (
  50 : #eaf8fe,
  100 : #cbeffe,
  200 : #a9e4fd,
  300 : #86d9fc,
  400 : #6cd0fb,
  500 : #4158d0,
  600 : #4bc2f9,
  700 : #41bbf9,
  800 : #38b4f8,
  900 : #28a7f6,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #cdebff,
  A700 : #b3e0ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ig-gray: (
  50 : #f0f0f0,
  100 : #d8d8d8,
  200 : #bfbfbf,
  300 : #a5a5a5,
  400 : #919191,
  500 : #c850c0,
  600 : #767676,
  700 : #6b6b6b,
  800 : #616161,
  900 : #4e4e4e,
  A100 : #f8bdbd,
  A200 : #f38f8f,
  A400 : #ff5050,
  A700 : #ff3636,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

