<div [formGroup]="form" class="register-form">
  <div class="row mt-3">
    <h4 class="font-weight-bold">Register Membership</h4>
  </div>
  <div class="row mt-3">
    <mat-form-field>
      <mat-label>E-mail Address</mat-label>
      <input matInput placeholder="test@example.com" formControlName="email">
    </mat-form-field>
  </div>
  <div class="row mt-3">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="row mt-3">
    <mat-form-field>
      <mat-label>Repeat password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="repeatPassword">
    </mat-form-field>
  </div>
  <div class="row mt-3">
    <button mat-raised-button color="primary" (click)="registerEvent.emit()" [disabled]="form.invalid" class="register-button">Register</button>
</div>
  <div class="row mt-3 text-decoration-none">
    <p><a routerLink="sign-in">Already have an account? Switch to login!</a></p>
  </div>
</div>
