@import '~@angular/material/theming';
@import "~bootstrap/scss/bootstrap";
@include mat-core();

@import './themes/palette';

$client-primary: mat-palette($ig-blue, 500);
$client-accent: mat-palette($ig-gray, 500);
$client-warn: mat-palette($mat-red);

$client-theme: mat-light-theme($client-primary, $client-accent, $client-warn);

@include angular-material-theme($client-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
