.auth-container {
  max-width: 880px;
  margin: 10% auto;
  padding: 0;
  height: 60%;
}

.container {
  padding: 0;
  height: 100%;
}

.auth-img {
  height: 100%;
}

.login-container {
  margin-top: 48px;
}

.auth-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: oldlace;
}

