<mat-tab-group backgroundColor="primary" color="accent">
  <mat-tab label="Account Details">
    <div class="vh-100 m-3">
      <div class="row">
        <div class="col-12 col-sm-6">
          <strong>User ID</strong>
          <p>{{ user.username }}</p>
        </div>
        <div class="col-12 col-sm-6">
          <strong>Email</strong>
          <p>{{ user.email }}</p>
        </div>
      </div>
      <div>
        <button type="button" mat-raised-button color="primary" (click)="logout.emit()">Logout</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Social Accounts">
    <div class="vh-100 m-3">
      <button type="button" mat-raised-button color="accent" class="float-right">Add Account</button>
    </div>
  </mat-tab>
</mat-tab-group>
